# --- PYTHON / DJANGO ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log
*.sqlite3

# --- VIRTUAL ENVIRONMENTS ---
venv/
.venv/
ENV/
env/

# --- DJANGO STATIC / MEDIA ---
db.sqlite3
media/
staticfiles/
*.pot

# --- NODE / TAILWIND ---
theme/node_modules/
theme/static_src/node_modules/
theme/static/css/dist/
theme/static_src/package-lock.json
theme/static_src/yarn.lock
theme/static_src/.cache/
theme/static_src/.parcel-cache/

# --- OS / EDITORS ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.code-workspace

# --- OTHER ---
__MACOSX/
